<!--   
<div class="wrapper">
    <div class="toolbar">
      <toolbar color="primary">
        <div class="container">
          <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
            {{ 'Angular Folder Structure' }}
          </span>
          <span routerLink="" class="branding spacer d-none d-md-inline">
            {{ 'Angular Folder Structure' }}
          </span>
          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navItems" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{ item.title }}
            </button>

          </span>
          <div style="float: right;">
            <a [href]="repoUrl" target="_blank">Fork on GitHub
              <~-- <fa-icon [icon]="['fab','github']"></fa-icon> --~>
            </a>
          </div>
        </div>
      </toolbar>
    </div>
  </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
        <li class="nav-item active">
        <a class="nav-link" href="#">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Alunos</a>
      </li>

    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#https://github.com/felipeaufe/trakto" target="_blank" tabindex="-1" aria-disabled="true">GitHub</a>
      </li>
      <li class="nav-item">
        <!-- <button class="nav-link" (click)="onLogout()">Sair</button> -->
        <a class="nav-link" (click)="onLogout()" href="#" tabindex="-1" aria-disabled="true">Sair</a>
      </li>
    </ul>
  </div>
</nav>