<mat-card class="card-turma">
  <mat-card-header>
      <div>
        <mat-card-title>Turma: Shiba Inu</mat-card-title>
        <mat-card-subtitle>Professor: Dog Breed</mat-card-subtitle>
      </div>
      <div>
        <p class="faixa-etaria">2 - 6</p>
      </div>
  </mat-card-header>
  <div class="header-color"></div>
  <mat-card-content class="mb-0">
    <p>
      Horário: 06:00 às 13:00 
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button mat-raised-button (click)="openDialog()">Abrir</button>
  </mat-card-actions>
</mat-card>