<section id="login">

    <div class="form">
    
      <h1>Login</h1>
      
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">    
        
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="seu@email.com" required formControlName="email">
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input  matInput placeholder="*******" required formControlName="password">
        </mat-form-field>

        <div class="form-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            <span [hidden]="isLoading">Submit</span>
            <span [hidden]="!isLoading">
              <!-- <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon> -->
            </span>
            
          </button>
        </div>

        <a class="register" [routerLink]="['/auth/register']">Quero me cadastrar!</a>
    </form>
    </div>
    <div class="image" style="background-image: url('/assets/img/login-image.jpg')"></div>
</section>